.body12{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
.headerHome{
    height: 68px;
    background-color: white;
    width : 100% ;
    position: fixed ; 
    z-index: 999 ; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px 200px ; 
    scroll-behavior: smooth;
    border-bottom: 5px solid #5665D2;
    
    
}

.logoheader{
    
    text-decoration: none; 
    color: darkblue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em; 
}
.navigation a{
    text-decoration: none; 
    color: darkblue;
    font-weight: 500 ;
    font-size: 1.1em;
    padding-left: 30px; 

}
.navigation a:hover{
    color:rgb(220, 218, 218) ; 
} 

.bodyHome{
    background: #dfe9f5;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.AsideHome{
    padding-top: 100px;
    position: absolute;
    top:60px;
    bottom: 100px;
    left: 0;
    height: 100%;
    background: #5665D2;
    width: 45px;
    overflow: hidden;
    transition: width 0.2s linear; 
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.LogoHome{
    text-align: center;
    display: flex ;
    transition: all 0.5s ease; 
    margin: 10px 0 0 10px; 
}
.LogoHome img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.LogoHome span{
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;

}
.AsideHome a {
    position: relative;
    color: white;
    font: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fasHome{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px ; 
    font-size: 20px ;
    text-align: center;
}
.nav-item{
    position: relative;
    bottom: 5px;
    margin-left: 10px;
}
.AsideHome a:hover{
    background: #eee;
}
.AsideHome:hover{
    width:130px;
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom : 0 ;
}