img {
    margin-left: 10px;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}
.fileItem{
    height: 31px;
    display: flex;
    font-size: xx-small;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.fileName{
    margin:auto;
    margin-left: 10px;
    color: #6c7d95;
    font-size: medium;
}
.fileItem:hover{
    background-color:#282c34;
    cursor: pointer;
}
