.navbar{
    width: 208.7vh;
    height: 40px;
    background-color: #4a5667;
    display: flex;
}
.navheader{
    margin-left: 50px;
    margin-top: 7px;
    font-size: x-large;
    color:#a4aab3;
    font-family:monospace;
}
.navtitle{
    font-size: x-large;
    margin-top: 7px;
    margin-left: 20px;
    color:white;
    font-family:monospace;
}