.navbar{
    width: 208.7vh;
    height: 40px;
    background-color: #4a5667;
    display: flex;
}

.btn {
    align-items: center;
    background-color: #2f3b46;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #cad1da;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 20px;
    min-width: 0px;
    margin-top: 6px;
    height: 30px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .btn:hover,
  .btn:focus { 
    background-color: #16437E;
    color: #ffffff;
  }
  
  


.navheader{
    margin-left: 50px;
    margin-top: 7px;
    font-size: x-large;
    color:#a4aab3;
    font-family:monospace;
}
.navtitle{
    font-size: x-large;
    margin-top: 7px;
    margin-left: 20px;
    color:white;
    font-family:monospace;
}